<h1>SHERPA</h1>

<br>

<p>Welcome! <br><br><br> This website is made for Destiny 2. Find sherpas willing to go through specific dungeons and raids!</p>

<% if user_signed_in? %>
<%='OH MA GAAAA'%>
<% end %>