<div id="<%= post %>">
  <p>
    <strong>User:</strong>
    <%= username %>
    <br/>
    <strong>Activity:</strong>
    <%= post.activity %>
    <br/>
    <strong>Info:</strong>
    <%= post.info %>

  </p>
</div>