<div id="<%= post %>">
  <p>

  <div class="display-4">
    <%= post.activity %>
  </div>
    <br/>
  <div class="lead">
    <strong>Post by:</strong>
    <%= username %>
    <br/>
    <br/>
    <p class="h4">Description</p>
    <br/>
    <%= post.info %>
  </div>
  </p>
</div>