<div class = "page-header header" >
<h1>Edit Post</h1>
</div>
<hr class="my-4">
<br/>
<div class = "navbar justify-content-start h4 mx-2" >
<%= link_to "Back To Post Details", post_path(@post), class: "link_ul"%>
</div>
<br/>
<%= render "form", post: @post %>
<br>
<div class= "container-fluid">
<%= button_to "Delete post", post_path(@post), class: "button", data: { 
  confirm: "Are you sure?", turbo_confirm: "Are you sure?" 
  }, method: :delete 
%>
</div>