<div class = "page-header header" >
<h1>NEW POSTING</h1>
</div>
<hr class="my-4">
<br/>
<div class = "navbar justify-content-start h4 mx-2" >
<%= link_to "Back To Sherpa Listings", pages_main_path, class: "link_ul"%>
</div>
<br/>
<%= render "form", post: @post %>